In [1]:
# import libraries
import pandas as pd
import zipfile

In [4]:
# Step 1: Unzip the folder and extract the relevant data file
with zipfile.ZipFile("train.csv (1).zip") as zip:
    zip.printdir()
    zip.extract('train.csv', '')

File Name                                             Modified             Size
train.csv                                      2020-09-11 15:40:16      2129689

In [25]:
# Step 2: read the csv file into a dataframe
df = pd.read_csv("train.csv")
print("Total number of unique customers:",df['Customer ID'].nunique())
df.head(2)

Total number of unique customers: 793

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94

In [33]:
# Step 3: Calculate the total purchase amount for each customer.
# Using groupby, aggregate the sales column on sum
pur_groupby = df.groupby('Customer ID')['Sales'].agg('sum')

# convert the groupby object to df
pur_df = pd.DataFrame(pur_groupby).reset_index()
print("Total number of unique customers:",pur_df['Customer ID'].nunique())
pur_df.head()

Total number of unique customers: 793

  Customer ID     Sales
0    AA-10315  5563.560
1    AA-10375  1056.390
2    AA-10480  1790.512
3    AA-10645  5086.935
4    AB-10015   886.156

In [37]:
# Step 4: Find the top 5 customers with the highest purchase amount.
# sort the pur_df in descending order
highest_pur_df = pur_df.sort_values(['Sales'], ascending= False, ignore_index= True)
highest_pur_df.head()

  Customer ID      Sales
0    SM-20320  25043.050
1    TC-20980  19052.218
2    RB-19360  15117.339
3    TA-21385  14595.620
4    AB-10105  14473.571

In [40]:
# top 5 customers
top_5 = highest_pur_df.loc[:5, 'Customer ID'].tolist()
print("Top 5 customers with the highest purchase:", top_5)

Top 5 customers with the highest purchase: ['SM-20320', 'TC-20980', 'RB-19360', 'TA-21385', 'AB-10105', 'KL-16645']

In [41]:
# Step 5: Export the results to a new CSV file.
output_file_name = "Top_5_customers_sales.csv"
highest_pur_df.head().to_csv(output_file_name)